
<div class="card-product w-1/2 items-center mx-auto mt-4">
  <%= image_tag "moov.png", class:"ml-40"%>
  <div class="card-product-infos ml-20">
    <h2><%= @job.company %></h2>
    <p> <%= @job.title %></p>
    <p> ⭐️⭐️⭐️⭐️ <%=  rand(1000..2000) %> reviews </p>
  </div>
</div>

<div class="w-7/12 my-9 mx-auto">
  <%= @job.description.html_safe%></div>
</div>
