
<div class="max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 notslider">
          <!-- Replace with your content -->

          <%# Profile here %>
                    <div class="py-4">
                      <div>
                        <div class="relative bg-white">
                          <div class="lg:absolute lg:inset-0">
                            <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
                             <%= image_tag "https://images.unsplash.com/photo-1508014924734-d75124b0f402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80", alt: "Le Wagon", class: "h-56 w-full object-cover lg:absolute lg:h-full" %>
                            </div>
                          </div>
                          <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
                            <div class="lg:col-start-2 lg:pl-8">
                              <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
                                <h2 class="leading-6 text-yellow-900 font-semibold tracking-wide uppercase">Know Thy Self</h2>
                                <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-yellow-600 sm:text-4xl">Blunderstand</h3>
                                <p class="mt-8 text-lg text-gray-500">"Until you find yourself you will always be someone else. Become yourself."</p>
                                <div class="mt-5 prose prose-indigo text-gray-500">
                                  <p> – Myles Munroe </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>



<%# tabs here %>
      <%# <div>
        <div class="hidden sm:block justify-items-center">
          <nav class="flex space-x-4 justify-fit px-36 " aria-label="Tabs">
            <!-- Current: "bg-gray-100 text-gray-700", Default: "text-gray-500 hover:text-gray-700" -->
            <a href="#" class="text-gray-500 hover:text-gray-900 px-3 py-2 font-medium text-sm rounded-md bg-gray-100">
              Books
            </a>

            <a href="#" class="text-gray-500 hover:text-gray-900 px-3 py-2 font-medium text-sm rounded-md bg-gray-100">
              Courses
            </a>

            <a href="#" class="bg-gray-100 text-gray-500 hover:text-gray-900 px-3 py-2 font-medium text-sm rounded-md" aria-current="page">
              Articles
            </a>

            <a href="#" class="text-gray-500 hover:text-gray-900 px-3 py-2 font-medium text-sm rounded-md bg-gray-100">
              Video
            </a>
          </nav>

        </div>
        %>
<div class="flex flex-col py-4 px-0 border-red-600 ">
                        <div class="-my-6 sm:-mx-6 lg:-mx-3 border-red-600">
                          <div class="py-12 align-middle min-w-full border-red-600">
                            <div class="shadow  h-screen border-b border-gray-200 sm:rounded-lg">
                              <table class=" w-full table-fixed divide-y divide-gray-200 ">
                                <thead class="bg-gray-50">
                                  <tr>
                                    <th scope="col" class=" px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-red-600">
                                      Title
                                    </th>
                                    <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                      Description
                                    </th>
                                    <th scope="col" class="  px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                      Time Required
                                    </th>
                                    <th scope="col" class=" px-4 py-3 text-left overflow-hidden text-xs font-medium text-gray-500 uppercase tracking-wider">
                                      Date Taken
                                    </th>
                                    <th scope="col" class="  px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    </th>



                                  </tr>
                                </thead>
                                <tbody>
                                  <!-- Odd row -->
                                  <%# Start loop %>
                                  <% @assessments.each_with_index do |assessment, i| %>
                                  <a href="<%=assessment.url%>" >
                                  <tr class="<%= i.odd? ? 'bg-white' : 'bg-gray-50' %> assessment" >
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                      <%= assessment.title %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                      <%= assessment.description %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                      <%= assessment.time %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 overflow-hidden">
                                      <%#= assessment.industry %>
                                      <%= assessment.send('date') %>
                                      <%# @columns = ['title', 'industry'] %>
                                      <%#= assessment.@columns[i] %>
                                      <%#= assessment.send(@columns[i]) %>
                                    </td>

                                    <td class=" py-4 whitespace-nowrap text-right text-sm font-medium">
                                      <a href="<%=assessment.url%>" class="text-indigo-600 hover:text-indigo-900 pr-4">Take Now!</a>
                                    </td>
                                  </tr>
                                  </a>
                                  <% end %>

                                  <%# <!-- Even row -->
                                  <tr class="bg-gray-50">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                      Cody Fisher
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                      Product Directives Officer
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                      cody.fisher@example.com
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                      Owner
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                      <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                                    </td>
                                  </tr> %>

                                  <%# end LOOP %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

</div>
        <%# <h1>BBBBB</h1> %>
      </div>
      <%# <h1>AAA</h1> %>
  </div>
  <%# <%= @resources.count %>






  <!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="fixed inset-0 overflow-hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <div class="absolute inset-0 overflow-hidden">
    <!-- Background overlay, show/hide based on slide-over state. -->
    <div class="absolute inset-0" aria-hidden="true">
      <div class="fixed inset-y-0 right-0 pl-10 max-w-full flex sm:pl-16">
        <!--
          Slide-over panel, show/hide based on slide-over state.

          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="w-screen max-w-2xl">
          <form class="h-full flex flex-col bg-white shadow-xl overflow-y-scroll">
            <div class="flex-1">
              <!-- Header -->
              <div class="px-4 py-6 bg-gray-50 sm:px-6">
                <div class="flex items-start justify-between space-x-3">
                  <div class="space-y-1">
                    <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
                      Totally Awesome Personality Test
                    </h2>
                    <p class="text-sm text-gray-500">

                    </p>
                  </div>
                  <div class="h-7 flex items-center">
                    <button type="button" class="text-gray-400 hover:text-gray-500">
                      <span class="sr-only">Close panel</span>
                      <!-- Heroicon name: outline/x -->
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>

              <!-- Divider container -->
              <div class="py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">
                <!-- Project name -->
                <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                  <div>
                    <label for="project-name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
                      What is your spirit Animal?
                    </label>
                  </div>
                  <div class="sm:col-span-2">
                    <input type="text" name="project-name" id="project-name" class="block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                  </div>
                </div>

                <!-- Team members -->
                <div class="space-y-2 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-center sm:px-6 sm:py-5">
                  <div>
                    <h3 class="text-sm font-medium text-gray-900">
                      I prefer my eggs
                    </h3>
                  </div>
                  <div class="sm:col-span-2">
                    <span class="relative z-0 inline-flex shadow-sm rounded-md">
                      <button type="button" class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-500 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 active:bg-gray-500 " checked>
                        Boiled
                      </button>
                      <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-500 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 active:bg-gray-500">
                        Fried
                      </button>
                      <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-500 focus:z-10 focus:outline-none focus:ring-1 active:bg-gray-500 focus:ring-indigo-500 focus:border-indigo-500">
                        Raw
                      </button>
                    </span>
                  </div>
                </div>
                <hr class="border-gray-200">

                <!-- Privacy -->
                <fieldset>
                  <div class="space-y-2 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:px-6 sm:py-5">
                    <div>
                      <legend class="text-sm font-medium text-gray-900">
                        Papa John's Pizza is better than Homeslice
                      </legend>
                    </div>
                    <div class="space-y-5 sm:col-span-2">
                      <div class="space-y-5 sm:mt-0">
                        <div class="relative flex items-start">
                          <div class="absolute flex items-center h-5">
                            <input id="public-access" name="privacy" aria-describedby="public-access-description" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" checked>
                          </div>
                          <div class="pl-7 text-sm">
                            <label for="public-access" class="font-medium text-gray-900">
                              Agree
                            </label>
                          </div>
                        </div>
                        <div class="relative flex items-start">
                          <div class="absolute flex items-center h-5">
                            <input id="restricted-access" name="privacy" aria-describedby="restricted-access-description" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                          </div>
                          <div class="pl-7 text-sm">
                            <label for="restricted-access" class="font-medium text-gray-900">
                              No Opinion
                            </label>
                          </div>
                        </div>
                        <div class="relative flex items-start">
                          <div class="absolute flex items-center h-5">
                            <input id="private-access" name="privacy" aria-describedby="private-access-description" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                          </div>
                          <div class="pl-7 text-sm">
                            <label for="private-access" class="font-medium text-gray-900">
                              Disagree
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <!-- Action buttons -->
            <div class="flex-shrink-0 px-4 border-t border-gray-200 py-5 sm:px-6">
              <div class="space-x-3 flex justify-end">
                <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Cancel
                </button>
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Create
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
