<div class="max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 ">

  <!-- Section Headings -->
  <div class="pb-5 border-b border-gray-200 sm:pb-0">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      All My Favorites
    </h3>
    <div class="mt-3 sm:mt-4">
      <!-- Dropdown menu on small screens -->
      <div class="sm:hidden">
        <label for="current-tab" class="sr-only">Select a tab</label>
        <select id="current-tab" name="current-tab" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
          <option>Jobs</option>

          <option>Gigs</option>

          <option selected>Courses</option>

          <option>Mentors</option>

          <option>Books</option>

          <option>Articles</option>

          <option>Videos</option>

          <option selected>Events</option>

        </select>
      </div>
      <!-- Tabs at small breakpoint and up -->
      <div class="hidden sm:block">
        <nav class="-mb-px flex space-x-8">
          <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
          <a href="#" class="border-indigo-500 text-indigo-600 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm" aria-current="page">
            Jobs
          </a>

          <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
            Gigs
          </a>

          <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
            Courses
          </a>

          <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
            Mentors
          </a>

          <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
            Books

          <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
            Articles
          </a>

          <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
            Videos
          </a>

          <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
            Events
          </a>

          </a>
        </nav>
      </div>
    </div>
  </div>

   Mood Board -->

    <%# Profile here %>
  <div class="py-4">
    <div>
      <div class="relative bg-gray-200">
        <div class="lg:absolute lg:inset-0">
          <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
          <%= image_tag "resources.png", alt: "Le Wagon", class: "h-56 w-full object-cover lg:absolute lg:h-full" %>
          </div>
        </div>
        <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
          <div class="lg:col-start-2 lg:pl-8">
            <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
              <h2 class="leading-6 text-gray-900 font-semibold tracking-wide uppercase">Invest in Yourself</h2>
              <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-yellow-500 sm:text-4xl">Expand Your Horizons</h3>
              <%# <p class="mt-8 text-lg text-gray-500">Education is the passport to the future, for tomorrow belongs to those who prepare for it today</p>
              <div class="mt-5 prose prose-indigo text-gray-500">
                <p> – Malcolm X </p> %>

              <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
              <div class="relative text-lg font-medium text-indigo-800 md:flex-grow">
                <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-indigo-800" fill="currentColor" viewBox="0 0 32 32">
                  <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                </svg>
                  <p class="relative"><h2>
                    Education is the passport to the future, for tomorrow belongs to those who prepare for it today.</h2>
                  </p>
                <div class="text-right">
                  <p> – Malcolm X</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


<!-- Cards Section Title -->
<div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    My Saved Work Opportunities
  </h3>
  <div class="mt-3 sm:mt-0 sm:ml-4">
    <label for="mobile-search-candidate" class="sr-only">Search</label>
    <label for="desktop-search-candidate" class="sr-only">Search</label>
    <div class="flex rounded-md shadow-sm">
      <div class="relative flex-grow focus-within:z-10">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <!-- Heroicon name: solid/search -->
          <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
          </svg>
        </div>
        <input type="text" name="mobile-search-candidate" id="mobile-search-candidate" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-none rounded-l-md pl-10 sm:hidden border-gray-300" placeholder="Search">
        <input type="text" name="desktop-search-candidate" id="desktop-search-candidate" class="hidden focus:ring-indigo-500 focus:border-indigo-500 w-full rounded-none rounded-l-md pl-10 sm:block sm:text-sm border-gray-300" placeholder="Search candidates">
      </div>
      <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
        <!-- Heroicon name: solid/sort-ascending -->
        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h5a1 1 0 000-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM13 16a1 1 0 102 0v-5.586l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L13 10.414V16z" />
        </svg>
        <span class="ml-2">Sort</span>
        <!-- Heroicon name: solid/chevron-down -->
        <svg class="ml-2.5 -mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
</div>



<!-- Section and card content -->

<div class="flex flex-col justify-evenly h-auto bg-gray-200">
    <div class="mt-5">
     <span class="ml-16 font-lato text-lg text-yellow-500">My Saved Jobs</span>
      <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
          <div class="flex flex-nowrap ml-10 ">
            <% @jobs.each do |job|  %>
            <div class="inline-block px-3">
              <div class="w-80 h-48 max-w-xs overflow-hidden rounded-lg shadow-md  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                <div class="group h-40 px-4 py-4 rounded-md  flex flex-col justify-center  items-stretch  ml-3 mr-3 mt-3 mb-3">
                  <h5 class="self-start"><%= job.title %></h5>
                  <h6><%= job.industry %></h6>
                  <%# <p><%= job.description %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <%# this is the end of the row  %>
    <span class="ml-16 font-lato text-lg text-yellow-500">My Saved Gigs</span>
      <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
          <div class="flex flex-nowrap ml-10 ">
        <% @resources.each do |resource|  %>
            <div class="inline-block px-3">
              <div class="w-80 h-48 max-w-xs overflow-hidden rounded-lg shadow-md  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                <div class="group h-40 px-4 py-4 rounded-md  flex flex-col justify-evenly ml-3 mr-3 mt-3 mb-3">
                  <h5><%= resource.name %></h5>
                  <h6><%= resource.time %></h6>
                  <p><%= resource.description %></p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>



          <span class="ml-16 font-lato text-lg text-yellow-500">New Jobs For Me</span>
      <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
          <div class="flex flex-nowrap ml-10 ">
          <%# cards begin %>

          <% @newjobs.each do |job|  %>
            <div class="inline-block px-3">
              <div class="w-80 h-48 max-w-xs overflow-hidden rounded-lg shadow-md  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                <div class="group h-40 px-4 py-4 rounded-md  flex flex-col justify-evenly ml-3 mr-3 mt-3 mb-3">
                  <h5><%= job.title %></h5>
                  <h6><%= job.industry %></h6>
                  <p><%= job.description %></p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
