<div class="max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 ">


<!-- Mood Board Title -->
<div class="mt-3 pb-5 border-b border-gray-200">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    My Resources Mood Board
  </h3>
</div>

          <!-- Replace with your content -->


          <%# Profile here %>
                    <div class="py-4">
                      <div>
                        <div class="relative bg-gray-200">
                          <div class="lg:absolute lg:inset-0">
                            <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
                            <%= image_tag "resources.png", alt: "Le Wagon", class: "h-56 w-full object-cover lg:absolute lg:h-full" %>
                            </div>
                          </div>
                          <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
                            <div class="lg:col-start-2 lg:pl-8">
                              <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
                                <h2 class="leading-6 text-gray-900 font-semibold tracking-wide uppercase">Invest in Yourself</h2>
                                <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-yellow-500 sm:text-4xl">Expand Your Horizons</h3>
                                <%# <p class="mt-8 text-lg text-gray-500">Education is the passport to the future, for tomorrow belongs to those who prepare for it today</p>
                                <div class="mt-5 prose prose-indigo text-gray-500">
                                  <p> – Malcolm X </p> %>

                                <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
                                <div class="relative text-lg font-medium text-indigo-800 md:flex-grow">
                                    <p class="relative"><h2>
                                      Education is the passport to the future, for tomorrow belongs to those who prepare for it today.</h2>
                                    </p>
                                  <div class="text-right">
                                    <p> – Malcolm X</p>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>






<div class="flex flex-col py-4 px-0  ">
                        <div class="-my-6 sm:-mx-6 lg:-mx-3 border-red-600">
                          <div class="py-12 align-middle min-w-full border-red-600">
                            <div class="shadow h-screen border-b border-gray-200 sm:rounded-lg">
                              <table class=" w-full table-fixed divide-y divide-gray-200">
                                <thead class="bg-indigo-600">
                        <%# <div class="-my-6 overflow-x-auto sm:-mx-6 lg:-mx-3">
                          <div class="py-12 align-middle inline-block min-w-full">
                            <div class="shadow h-screen border-b border-gray-200 sm:rounded-lg">
                              <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-indigo-600"> %>
                                  <tr>
                                    <th scope="col" class=" w-1/6 px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider border-red-600">
                                      My Resources
                                    </th>
                                    <th scope="col" class="w-1/6 px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                      Industry
                                    </th>
                                    <th scope="col" class=" w-1/12 px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                      Type
                                    </th>
                                    <th scope="col" class="w-6/12 px-4 py-3 text-left overflow-hidden text-xs font-medium text-white uppercase tracking-wider">
                                      Description
                                    </th>
                                    <th scope="col" class=" w-1/24 px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                      Add
                                    </th>
                                    <th scope="col" class="w-1/12 px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                      Apply
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <!-- Odd row -->
                                  <%# Start loop %>
                                  <% @resources.each_with_index do |resource, i| %>
                                  <a href="<%=resource.url%>" >
                                  <tr class="<%= i.odd? ? 'bg-white' : 'bg-gray-50' %>" >
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                      <%= resource.name %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                      <%= resource.time %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                      <%= resource.kind %>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                      <%#= resource.industry %>
                                      <%= resource.send('description') %>
                                      <%# @columns = ['title', 'industry'] %>
                                      <%#= resource.@columns[i] %>
                                      <%#= resource.send(@columns[i]) %>
                                    </td>
                                    <td class="<%= resource.fav? ? 'fas fa-heart' : 'far fa-heart'  %>  py-4 whitespace-nowrap text-right text-sm font-medium">
                                      <a href="#" class="text-indigo-600 hover:text-indigo-900 pr-4"></a>
                                    </td>
                                    <td class=" py-4 whitespace-nowrap text-right text-sm font-medium">
                                      <a href="<%=resource.url%>" class="text-yellow-500 hover:text-yellow-600 pr-4" target="_blank">Go Learn!</a>
                                    </td>
                                  </tr>
                                  </a>
                                  <% end %>

                                  <%# <!-- Even row -->
                                  <tr class="bg-gray-50">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                      Cody Fisher
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                      Product Directives Officer
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                      cody.fisher@example.com
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                      Owner
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                      <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                                    </td>
                                  </tr> %>

                                  <%# end LOOP %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

</div>
        <%# <h1>BBBBB</h1> %>
      </div>
      <%# <h1>AAA</h1> %>
  </div>
  <%# <%= @resources.count %>
